.land-hero-container {
  height: 100vh;
  width: 100%;
  color: #ffff;
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}


.land-hero-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.land-hero-container h1 {
  font-size: 20;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px; /* Reduced margin */
}

.land-hero-container p {
  margin-top: 0px; /* Reduced margin */
  font-size: 18px; /* Adjusted font size */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
  margin-top: 16px; /* Reduced margin */
  display: flex;
  justify-content: center;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

.dummy-text {
  font-size: 18px; /* Adjusted font size */
  margin-top: 6px; /* Reduced margin */
  white-space: pre-wrap; 
}

.product-result-container {
  text-align: center;
  margin-top: 2px; /* Reduced margin */
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}

.authentic-product-container {
  display: flex;
  align-items: center;
  padding: 2rem;
  max-width: 100%;

}

.authentic-product-image {
  max-width: 100%;
  max-height: 250px;
  margin-right: 2rem;
  margin-left: 14rem ;
}

.product-details {
  flex: 1;
  padding: 1rem;
}

.product-details p {
  margin-bottom: 5px;
}

.product-details p strong {
  font-weight: bold;
  font-size: 24px;
  color: #F1948A;
}
.product-details p + p {
  margin-top: 1;
}

@media screen and (max-width: 960px) {
  .land-hero-container h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .land-hero-container h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .land-hero-container p {
    font-size: 24px; /* Adjusted font size */
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}


